<tr>
  <td><%= question.content %>
    <br>
    <%= question.user.email %></td>
  <td>
    <% if question.answers.any? %>
      <%= render question.answers%>
    <% end %>
  </td>
  <td class="text-center center-button"><%= link_to 'Sửa', edit_question_path(question) , :style => "color: white;" , :class => "btn btn-success btn-xs" %></td>
  <td class="text-center center-button"><%= link_to 'Xóa', question, method: :delete, data: { confirm: 'Are you sure?' } , :style => "color: white;" , :class => "btn btn-danger btn-xs" %></td>
</tr>