<%= form_with(model: travel, local: true) do |form| %>
  <% if travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
      <% travel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_tour %>
    <%= form.text_field :name_tour, id: :travel_name_tour %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :travel_price %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.text_field :date, id: :travel_date %>
  </div>

  <div class="field">
    <%= form.label :time_go %>
    <%= form.text_field :time_go, id: :travel_time_go, :class => "datepicker", :readOnly => "readOnly" %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file, id: :travel_file %>
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :details, class: "ckeditor", id: "details"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
