<div class="blog-content">
<!-- <br> -->
<!-- <h1>Admin Manage</h1> -->
<%= form_tag articles_path, :method => 'get' do %>
<p>
  <%= text_field_tag :search, params[:search], :class => "search_tour" , :placeholder => "Search.."%>
  <!-- <%= submit_tag "Search", title: :nil %> -->
</p>
<% end %>
<!-- Article -->


<!-- Tour -->
<% if ((can? :manage, @tours) && @tours.length > 0)%>
<br>
<div class="questions">
<h3 style="color: white;">Tour Manage</h3>
<table class="table table-hover table-bordered" style="background: white;">
  <thead>
    <tr>
      <th class="text-center">Chuyến đi</th>
      <th class="text-center">Thời gian</th>
      <th class="text-center">Ngày khởi hành</th>
      <th class="text-center">Giá</th>
      <th class="text-center">Người đặt</th>
      <th class="text-center">SDT</th>
      <th class="text-center">Trạng thái</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="tours">
    <%= render @tours %>
  </tbody>
</table>
<br>
<div id="paginator_tours">
  <%= paginate @tours, param_name: :page_tour, remote: true %>
</div>
</div>
<% end %>

<!-- Tour -->
<% if current_user.has_role? %>
<br>
<div class="questions">
<h3 style="color: white;">Travel Manage</h3>
<table class="table table-hover table-bordered" style="background: white;">
  <thead>
    <tr>
      <th class="text-center">Ten</th>
      <th class="text-center">Gia</th>
      <th class="text-center">So ngay</th>
      <th class="text-center">Ngay khoi hanh</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="travels">
    <%= render @travels %>
  </tbody>
</table>
<br>
<div class="button_linkto">
  <%= link_to 'New Travel', new_travel_path, :class => "btn" %>
</div>
<div id="paginator_travels">
  <%= paginate @travels, param_name: :page_travel, remote: true %>
</div>
</div>
<% end %>

<!-- Question -->
<% if ((can? :manage , @questions) && @questions.length > 0)%>
<br>
<div class="questions">
<h3 style="color: white;">Question Manage</h3>
<table class="table table-hover table-bordered" style="background: white;">
  <thead>
    <tr>
      <th class="text-center">Content</th>
      <th class="text-center">Answers</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="questions">
    <%= render @questions %>
  </tbody>
</table>
<br>
<div class="button_linkto">
  <%= link_to 'New Question', new_question_path, :class => "btn" %>
</div>
<div id="paginator_questions">
  <%= paginate @questions, param_name: :page_question, remote: true %>
</div>
</div>
<% end %>

<!-- User -->
<% if ((can? :manage, @users) && (@users.length > 0 ))%>
<br>
<div class="questions">
<h3 style="color: white;">User Manage</h3>
<table class="table table-hover table-bordered" style="background: white;">
  <thead>
    <tr>
      <th colspan="2"  class="text-center">Name</th>
      <th class="text-center">Email</th>
      <th class="text-center">Telephone</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="users">
    <%= render @users %>
  </tbody>
</table>
<div id="paginator_users">
  <%= paginate @users, param_name: :page_user, remote: true %>
</div>
</div>
<% end %>
</div>