<br>
<h1 style="color: white;">Admin Manage</h1>
<%= form_tag articles_path, :method => 'get' do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", title: :nil %>
</p>
<% end %>
<!-- Article -->


<!-- Tour -->
<% if ((can? :manage, @tours) && @tours.length > 0)%>
<br>
<h3 style="color: white;">All Tour</h3>
<table class="table table-hover" style="background: white;">
  <thead>
    <tr>
      <th>Chuyến đi</th>
      <th>Thời gian</th>
      <th>Ngày khởi hành</th>
      <th>Giá</th>
      <th>Người đặt</th>
      <th>SDT</th>
      <th>Xoá</th>
    </tr>
  </thead>

  <tbody id="tours">
    <%= render @tours %>
  </tbody>
</table>
<br>
<div id="paginator_tours">
  <%= paginate @tours, param_name: :page_tour, remote: true %>
</div>
<% end %>

<!-- Question -->
<% if ((can? :manage , @questions) && @questions.length > 0)%>
<br>
<h3 style="color: white;">All Question</h3>
<table class="table table-hover" style="background: white;">
  <thead>
    <tr>
      <th>Content</th>
      <th>Answers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="questions">
    <%= render @questions %>
  </tbody>
</table>
<br>
<div class="button_linkto">
  <%= link_to 'New Question', new_question_path %>
</div>
<div id="paginator_questions">
  <%= paginate @questions, param_name: :page_question, remote: true %>
</div>
<% end %>

<!-- User -->
<% if ((can? :manage, @users) && (@users.length > 0 ))%>
<br>
<h3 style="color: white;">All User</h3>
<table class="table table-hover" style="background: white;">
  <thead>
    <tr>
      <th colspan="2">Name</th>
      <th>Email</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody id="users">
    <%= render @users %>
  </tbody>
</table>
<div id="paginator_users">
  <%= paginate @users, param_name: :page_user, remote: true %>
</div>
<% end %>