<p id="notice"><%= notice %></p>

<p>
  <strong>Mail from:</strong>
  <%= @send_mail.mail_from %>
</p>

<p>
  <strong>Mail to:</strong>
  <%= @send_mail.mail_to %>
</p>

<p>
  <strong>Type mail:</strong>
  <%= @send_mail.type_mail %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @send_mail.attachment %>
</p>

<%= link_to 'Edit', edit_send_mail_path(@send_mail) %> |
<%= link_to 'Back', send_mails_path %>
