<tr>
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.email %></td>
  <td><%= user.telephone %></td>
  <td class="text-center center-button"><%= link_to 'Edit', edit_user_path(user) , :style => "color: white;" , :class => "btn btn-success btn-xs" %></td>
  <td class="text-center center-button"><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } , :style => "color: white;" , :class => "btn btn-danger btn-xs"  %></td>
  <!-- <td class="text-center center-button"><%= link_to 'Send Mail', send_mails_path , :style => "color: white;" , :class => "btn btn-warning btn-xs" %></td> -->
</tr>