<%= form_for [@travel, @tour], local: true, remote: :true do |form| %>
  <% if tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
      <% tour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <i class="icon-tag"></i> <span>Người đặt: </span> <%= current_user.first_name + ' ' + current_user.last_name %>
  </div>

  <div class="field">
    <i class="icon-tag"></i> <span>Chuyến đi: </span> <%= @travel.name_tour %>
  </div>

  <div class="field">
    <i class="icon-tag"></i>
    <span>Số điện thoại: </span>
    <%= current_user.telephone %>
  </div>

  <div class="field">
            <i class="icon-tag"></i>
        <span>Giá:</span>
        <%= @travel.price %>
      </div>
      <div class="field">
        <i class="icon-tag"></i>
        <span>Thời gian:</span>
        <%= @travel.date %>
    </div>
    <div class="field">
        <i class="icon-tag"></i>
        <span>Ngày khởi hành:</span>
        <%= @travel.time_go %>
    </div>
  <%= form.hidden_field :travel_id, :value => @travel.id %>

  <div class="field">
    <i class="icon-tag"></i>
    <span>Số người đi: </span>
    <% if @tour.status.nil? || @tour.status == 0 || current_user.has_role? %>
      <%= form.number_field :number_person, id: :tour_number_person, :class => "number" %>
    <% else %>
      <%= @tour.number_person %>
    <% end %>
  </div>

  <div class="field">
    <i class="icon-tag"></i>
    <span>Ghi chú: </span>
    <% if @tour.status.nil? || @tour.status == 0 || current_user.has_role? %>
      <%= form.text_area :description, id: :tour_description, :class => "description"%>
    <% else %>
      <%= @tour.description %>
    <% end %>
  </div>

  <% if current_user.has_role? %>
    <div class="field">
      <span>Trạng thái:</span>
      <%= form.select(:status, STATUS_TOUR, :selected => @tour.status)%>
    </div>
  <% else %>
    <%= form.hidden_field :status, :value => 0 %>
  <% end %>

  <% if current_user.has_role? %>
    <div class="actions">
      <%= form.submit 'Cập nhật'%>
    </div>
  <% else %>
    <div class="actions">
      <%= form.submit 'Đăng kí'%>
    </div>
  <% end %>
<% end %>
