<table class="table table-hover">
  <thead>
    <tr>
      <th>Chuyến đi</th>
      <th>Thời gian</th>
      <th>Ngày khởi hành</th>
      <th>Giá</th>
      <th>SDT</th>
      <th>Xoá</th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.travel.name_tour %></td>
        <td><%= tour.travel.date %></td>
        <td><%= tour.travel.time_go %></td>
        <td><%= tour.travel.price %></td>
        <td><%= current_user.telephone %></td>
        <td><%= link_to 'Xoá', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
